@media (max-width: 1250px) and (min-width: 1050){
header{
    width: 100%;
}
.nav-list{
    gap: 5%;
    margin-left: 15%;
}
.nav-list li:last-child{
    margin-left: 15%;
}
}
/* @media  (max-width){
    
} */